@model BookMarket.Models.Products

@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}
<style>
    div.stars {
  width: 200px;
  display: inline-block;
}
 
input.star { display: none; }
 
label.star {
  float: right;
  padding: 10px;
  font-size: 20px;
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
 
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
 
input.star-1:checked ~ label.star:before { color: #F62; }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
 
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
</style>

<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="~/Style2/bootstrap.min.css">
<link rel="stylesheet" href="~/Style2/normalize.css">
<link rel="stylesheet" href="~/Style2/font-awesome.min.css">
<link rel="stylesheet" href="~/Style2/icomoon.css">
<link rel="stylesheet" href="~/Style2/jquery-ui.css">
<link rel="stylesheet" href="~/Style2/owl.carousel.css">
<link rel="stylesheet" href="~/Style2/transitions.css">
<link rel="stylesheet" href="~/Style2/main.css">
<link rel="stylesheet" href="~/Style2/color.css">
<link rel="stylesheet" href="~/Style2/responsive.css">
<div class="em-wrapper-main">
    <div class="container container-main">
        <main id="tg-main" class="tg-main tg-haslayout">
            <!--************************************
                    News Grid Start
            *************************************-->
            <div class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div id="tg-twocolumns" class="tg-twocolumns">
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
                                <div id="tg-content" class="tg-content">
                                    <div class="tg-productdetail">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <div class="tg-postbook">
                                                    <figure class="tg-featureimg"><img src="~/images/product/350x350/@Html.DisplayFor(model => model.ProductImg)" alt="image description"></figure>
                                                    <div class="tg-postbookcontent">
                                                        <span class="tg-bookprice">
                                                            <span>Giá bìa</span>
                                                            <del style="font-size:15px;float:right"> @Html.DisplayFor(model => model.GiaBia)đ</del>
                                                        </span>

                                                        <span class="tg-bookprice">
                                                            <span>Giá bán</span>
                                                            <ins style="font-size:18px; float:right; color:red">@Html.DisplayFor(model => model.GiaBan)đ</ins>
                                                        </span>

                                                        <span class="tg-bookprice">
                                                            <span>Tiết kiệm</span>
                                                            <ins style="font-size:13px; float:right; color:#5EB950"></ins>
                                                        </span>


                                                        <ul class="tg-delevrystock">
                                                            <li><i class=""></i><span>Miễn phí giao hàng toàn quốc cho Đơn hàng từ 300.000đ</span></li>
                                                            <li><i class=""></i><span>Có dịch vụ bọc sách plastic cao cấp cho sách này</span></li>
                                                            <li><i class=""></i><span>Chất lượng sách: <em>@Html.DisplayFor(model => model.Quanity)</em></span></li>
                                                        </ul>

                                                        <a class="tg-btn tg-active tg-btn-lg" href="javascript:void(0);">
                                                            <span>Thêm vào giỏ</span>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <div class="tg-productcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">@Html.DisplayFor(model => model.Category.CategoryName)</a></li>
                                                    </ul>
                                                    <div class="tg-themetagbox"><span class="tg-themetag">sale</span></div>
                                                    <div class="tg-booktitle">
                                                        <h3>@Html.DisplayFor(model => model.ProductName)</h3>
                                                    </div>
                                                    <span class="tg-bookwriter">Tác giả: <a href="javascript:void(0);">@Html.DisplayFor(model => model.Author.Name)</a></span>
                                                    <span class="tg-stars"><span></span></span>
                                                   

                                                    <div class="tg-description">
                                                        <p>@Html.DisplayFor(model => model.Decription)</p>
                                                    </div>
                                                    <div class="tg-sectionhead">
                                                        <h2>Thông tin chi tiết</h2>
                                                    </div>
                                                    <ul class="tg-productinfo">
                                                        <li><span>Nhà phát hành</span><span>@Html.DisplayFor(model => model.Nph.Name)</span></li>
                                                        <li><span>Khối lượng</span><span>@Html.DisplayFor(model => model.Weight)</span></li>
                                                        <li><span>Định dạng</span><span>@Html.DisplayFor(model => model.Format)</span></li>
                                                        <li><span>Ngày phát hành</span><span>@Html.DisplayFor(model => model.ReleaseDate)</span></li>
                                                        <li><span>Nhà xuất bản</span><span>@Html.DisplayFor(model => model.Nxb.Name)</span></li>
                                                        <li><span>Ngôn ngữ</span><span>@Html.DisplayFor(model => model.Language)</span></li>
                                                        <li><span>Kích thước</span><span>@Html.DisplayFor(model => model.Size)</span></li>
                                                        <li><span>Số trang</span><span>@Html.DisplayFor(model => model.PageNumber)</span></li>
                                                    </ul>
                                                    <div class="tg-alsoavailable">
                                                        <figure>
                                                            <img src="/style2/images/img-02.jpg" alt="image description">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tg-productdescription">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="tg-sectionhead">

                                                    </div>
                                                    <ul class="tg-themetabs" role="tablist">
                                                        <li role="presentation" class="active"><a href="#description" data-toggle="tab">Giới thiệu sách</a></li>
                                                        <li role="presentation"><a href="#review" data-toggle="tab">Đánh giá sản phẩm</a></li>
                                                    </ul>
                                                    <div class="tg-tab-content tab-content">
                                                        <div role="tabpanel" class="tg-tab-pane tab-pane active" id="description">
                                                            <div class="tg-description">
                                                                <p>
                                                                    CÓ HAI CON MÈO NGỒI BÊN CỬA SỔ là tác phẩm đầu tiên của nhà văn Nguyễn Nhật Ánh viết theo thể loại đồng thoại. Đặc biệt hơn nữa là viết về tình bạn của hai loài vốn là thù địch của nhau mèo và chuột. Đó là tình bạn giữa mèo Gấu và chuột Tí Hon.
                                                                    Để biết tại sao mèo Gấu lại chơi thân với chuột Tí Hon, thì mời bạn hãy mở sách ra.
                                                                    Cuốn truyện mỏng mảnh vừa phải, hình vẽ của họa sĩ Hoàng Tường sinh động đến từng nét nũng nịu hay kiêu căng của nàng mèo người yêu mèo Gấu, câu chuyện thì hấp dẫn duyên dáng điểm những bài thơ tình lãng mạn nao lòng song đọc to lên thì khiến cười hinh hích…
                                                                    Bạn hãy đọc nhé, để thấy, Nguyễn Nhật Ánh đã viết truyện đồng thoại theo cái cách của riêng mình độc đáo như thế nào.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div role="tabpanel" class="tg-tab-pane tab-pane" id="review">
                                                            <div class="tg-description">
                                                                
                                                                <div class="imagebg"></div>
                                                                <div class="row ">
                                                                    <div class="col-md-6 col-md-offset-3 form-container">
                                                               
                                                                        <div class="stars">
                                                                            <form action="">
                                                                                <input class="star star-5" id="star-5" type="radio" name="star" />
                                                                                <label class="star star-5" for="star-5"></label>
                                                                                <input class="star star-4" id="star-4" type="radio" name="star" />
                                                                                <label class="star star-4" for="star-4"></label>
                                                                                <input class="star star-3" id="star-3" type="radio" name="star" />
                                                                                <label class="star star-3" for="star-3"></label>
                                                                                <input class="star star-2" id="star-2" type="radio" name="star" />
                                                                                <label class="star star-2" for="star-2"></label>
                                                                                <input class="star star-1" id="star-1" type="radio" name="star" />
                                                                                <label class="star star-1" for="star-1"></label>
                                                                            </form>

                                                                        </div>
                                                                        <form role="form" method="post" id="reused_form">
                                                                            <div class="row">
                                                                                <div class="col-sm-12 form-group">
                                                                                    <label for="comments">
                                                                                        Nội dung
                                                                                    </label>
                                                                                    <textarea class="form-control" type="textarea" name="comments" id="comments" placeholder="Nêu nhận xét của bạn về sản phẩm này" maxlength="6000" rows="7"></textarea>
                                                                                </div>
                                                                            </div> 
                                                                            <div class="row">
                                                                                <div class="col-sm-12 form-group">
                                                                                    <button style="background-color:#EC6A54" type="submit" class="btn btn-lg btn-warning btn-block">Gửi đánh giá</button>
                                                                                </div>
                                                                            </div>

                                                                        </form>
                                                                        <div id="success_message" style="width:100%; height:100%; display:none; ">
                                                                            <h3>Posted your feedback successfully!</h3>
                                                                        </div>
                                                                        <div id="error_message"
                                                                             style="width:100%; height:100%; display:none; ">
                                                                            <h3>Error</h3>
                                                                            Sorry there was an error sending your form.

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tg-aboutauthor">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="tg-sectionhead">
                                                        <h2>About Author</h2>
                                                    </div>
                                                    <div class="tg-authorbox">
                                                        <figure class="tg-authorimg">
                                                            <img src="/style2/images/author/imag-24.jpg" alt="image description">
                                                        </figure>
                                                        <div class="tg-authorinfo">
                                                            <div class="tg-authorhead">
                                                                <div class="tg-leftarea">
                                                                    <div class="tg-authorname">
                                                                        <h2>Kathrine Culbertson</h2>
                                                                        <span>Author Since: June 27, 2017</span>
                                                                    </div>
                                                                </div>
                                                                <div class="tg-rightarea">
                                                                    <ul class="tg-socialicons">
                                                                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                                                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                                                        <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                                                        <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="tg-description">
                                                                <p>Laborum sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis etation.</p>
                                                            </div>
                                                            <a class="tg-btn tg-active" href="javascript:void(0);">View All Books</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--************************************
                                    relate book
                            *************************************-->
                            <!--************************************
                                    relate book
                            *************************************-->
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
                                <aside id="tg-sidebar" class="tg-sidebar">

                                    <div class="tg-widget tg-widgettrending">
                                        <div class="tg-widgettitle">
                                            <h3>Sản phẩm tương tự</h3>
                                        </div>
                                        <div class="tg-widgetcontent">
                                            <ul>
                                                <li>
                                                    <article class="tg-post">
                                                        <figure><a href="javascript:void(0);"><img src="~/Style2/images/co-hai-con-meo-ngoi-ben-cua-so_NNA.jpg" alt="image description"></a></figure>
                                                        <div class="tg-postcontent">
                                                            <div class="tg-posttitle">
                                                                <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                            </div>
                                                            <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                        </div>
                                                    </article>
                                                </li>
                                                <li>
                                                    <article class="tg-post">
                                                        <figure><a href="javascript:void(0);"><img src="~/Style2/images/co-hai-con-meo-ngoi-ben-cua-so_NNA.jpg" alt="image description"></a></figure>
                                                        <div class="tg-postcontent">
                                                            <div class="tg-posttitle">
                                                                <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                            </div>
                                                            <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                        </div>
                                                    </article>
                                                </li>
                                                <li>
                                                    <article class="tg-post">
                                                        <figure><a href="javascript:void(0);"><img src="~/Style2/images/co-hai-con-meo-ngoi-ben-cua-so_NNA.jpg" alt="image description"></a></figure>
                                                        <div class="tg-postcontent">
                                                            <div class="tg-posttitle">
                                                                <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                            </div>
                                                            <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                        </div>
                                                    </article>
                                                </li>
                                                <li>
                                                    <article class="tg-post">
                                                        <figure><a href="javascript:void(0);"><img src="~/Style2/images/co-hai-con-meo-ngoi-ben-cua-so_NNA.jpg" alt="image description"></a></figure>
                                                        <div class="tg-postcontent">
                                                            <div class="tg-posttitle">
                                                                <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                            </div>
                                                            <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                        </div>
                                                    </article>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tg-widget tg-catagories">
                                        <div class="tg-widgettitle">
                                            <h3>Thể loại</h3>
                                        </div>
                                        <div class="tg-widgetcontent">
                                            <ul>
                                                <li><a href="javascript:void(0);"><span>Art &amp; Photography</span><em>28245</em></a></li>
                                                <li><a href="javascript:void(0);"><span>Biography</span><em>4856</em></a></li>
                                                <li><a href="javascript:void(0);"><span>Children’s Book</span><em>8654</em></a></li>
                                                <li><a href="javascript:void(0);"><span>Craft &amp; Hobbies</span><em>6247</em></a></li>
                                                <li><a href="javascript:void(0);"><span>Crime &amp; Thriller</span><em>888654</em></a></li>
                                                <li><a href="javascript:void(0);"><span>Fantasy &amp; Horror</span><em>873144</em></a></li>
                                                <li><a href="javascript:void(0);"><span>Fiction</span><em>18465</em></a></li>
                                                <li><a href="javascript:void(0);"><span>Fod &amp; Drink</span><em>3148</em></a></li>
                                                <li><a href="javascript:void(0);"><span>Graphic, Anime &amp; Manga</span><em>77531</em></a></li>
                                                <li><a href="javascript:void(0);"><span>Science Fiction</span><em>9247</em></a></li>
                                                <li><a href="javascript:void(0);"><span>View All</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tg-widget tg-widgetblogers">
                                        <div class="tg-widgettitle">
                                            <h3>Tác giả nổi bật</h3>
                                        </div>
                                        <div class="tg-widgetcontent">
                                            <ul>
                                                <li>
                                                    <div class="tg-author">
                                                        <figure><a href="javascript:void(0);"><img src="/style2/images/author/imag-03.jpg" alt="image description"></a></figure>
                                                        <div class="tg-authorcontent">
                                                            <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                                            <span>21,658 Published Books</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="tg-author">
                                                        <figure><a href="javascript:void(0);"><img src="~/style2/images/author/imag-04.jpg" alt="image description"></a></figure>
                                                        <div class="tg-authorcontent">
                                                            <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                                            <span>21,658 Published Books</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="tg-author">
                                                        <figure><a href="javascript:void(0);"><img src="~/style2/images/author/imag-05.jpg" alt="image description"></a></figure>
                                                        <div class="tg-authorcontent">
                                                            <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                                            <span>21,658 Published Books</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="tg-author">
                                                        <figure><a href="javascript:void(0);"><img src="~/style2/images/author/imag-06.jpg" alt="image description"></a></figure>
                                                        <div class="tg-authorcontent">
                                                            <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                                            <span>21,658 Published Books</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--************************************
                    News Grid End
            *************************************-->


        </main>
    </div>
</div>