@model IEnumerable<BookMarket.Models.Products>;
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}
<style>
    .tg-stars span,
    .tg-stars {
        width: 80px;
        height: 13px;
        float: left;
        line-height: 13px;
        position: relative;
    }

        .tg-stars span:after,
        .tg-stars:before {
            top: 0;
            left: 0;
            font-size: 13px;
            line-height: 13px;
            position: absolute;
            letter-spacing: 4px;
            font-family: 'FontAwesome';
            color: rgba(218, 218, 218, 0.80);
            content: '\f005 \f005 \f005 \f005 \f005';
        }

        .tg-stars span {
            width: 75%;
            overflow: hidden;
            color: #fcd01e !important;
        }

            .tg-stars span:after {
                color: #fcd01e !important;
            }

            .tg-stars span:after {
                color: #000;
            }
</style>
<div class="em-wrapper-main">
    <div class="container container-main">
        <div class="em-inner-main">
            <div class="em-wrapper-area01">
                <div class="row em-wrapper-ads-13 hidden-xs">

                </div><!-- /.em-wrapper-ads-13-->
            </div><!-- /.em-wrapper-area01 -->

            <div class="em-main-container em-col2-left-layout">
                <div class="row">

                    <div class="col-sm-18 col-sm-push-6 em-col-main">
                        <div class="em-wrapper-area03">
                            <div class="em-slideshow">
                                <div class="em-owlcarousel-slideshow">
                                    <div id="em_owlcarousel_2_2484_sync1" class="owl-carousel">
                                        <div class="item">
                                            <a href="#"> <img alt="1435569308_1_2.jpg" class="lazyOwl img-responsive" src="~/images/loading.gif" data-src="images/em_minislideshow/slide_thay_doi_cuoc_song_voi_nhan_so_hoc.jpg" /> </a>

                                        </div><!-- /.item -->
                                        <div class="item">
                                            <a href="#"> <img alt="1435569308_1_2.jpg" class="lazyOwl img-responsive" src="~/images/loading.gif" data-src="images/em_minislideshow/slide-con-chim-xanhbiec-bay-ve.jpg" /> </a>

                                        </div><!-- /.item -->
                                        <div class="item">
                                            <a href="#"> <img alt="1436500083_0_slideshow3.jpg" class="lazyOwl img-responsive" src="~/images/loading.gif" data-src="images/em_minislideshow/slide-con-nguoi-80-20.jpg" /> </a>

                                        </div><!-- /.item -->
                                    </div><!-- /# em_owlcarousel_2_2484_sync1 -->
                                </div><!-- /.em-owlcarousel-slideshow -->
                            </div><!-- /.em-slideshow -->
                        </div><!-- /.em-wrapper-area03 -->
                        <div class="std"></div>
                        <div class="row hidden-xs">
                            <div class="em-wrapper-banners">
                                <div class="col-sm-8  text-center">
                                    <div class="img-banner">
                                        <a class="banner-img" href="#"> <img class="img-responsive retina-img" alt="em-sample-alt" src="~/images/em_minislideshow/slide-gio-he-may.jpg" /> </a>
                                    </div>
                                </div>
                                <div class="col-sm-8  img-banner text-center">
                                    <div class="img-banner">
                                        <a class="banner-img" href="#"> <img class="img-responsive retina-img" alt="em-sample-alt" src="~/images/em_minislideshow/slide-netflix.jpg" /> </a>
                                    </div>
                                </div>
                                <div class="col-sm-8 text-center">
                                    <div class="img-banner">
                                        <a class="banner-img" href="#"> <img class="img-responsive retina-img" alt="em-sample-alt" src="~/images/em_minislideshow/slide-jessica.jpg" /> </a>
                                    </div>
                                </div>
                            </div><!-- /.em-wrapper-banners -->
                        </div>
                        <div class="em-best-sales em-wrapper-product-15">
                            <div class="emfilter-ajaxblock-loaded">
                                <div class="em-grid-15 custom-product-list">
                                    <div class="widget-title em-widget-title">
                                        <h3><span>Sản phẩm bán chạy</span></h3>
                                    </div>

                                    <div class="widget em-filterproducts-list">
                                        <div class="widget-products em-widget-products">
                                            <div class="products-list ">
                                                @{int f = 0;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    if (f < 3)
                                                    {
                                                        var productName = "";
                                                        productName = item.Decription;
                                                        <div class="item  " style="  ">
                                                            <a href="#" class="product-image">
                                                                <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" alt="" height="110" width="110">
                                                                <img class="img-responsive em-alt-org em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" alt="" height="110" width="110">
                                                            </a>
                                                            <div class="product-shop">
                                                                <div class="f-fix">
                                                                    <!--product name-->

                                                                    <h3 class="product-name"><a style="color:#FF6148;font-weight:bold" href="@Url.Action("ProductDetail","Detail",new {id = item.ProductId })">@Html.DisplayFor(modelItem => item.ProductName)</a></h3>
                                                                    <!--product description-->
                                                                    <h6 class="">@productName.Substring(0, 20)<span> ...</span></h6>

                                                                    <!--product reviews-->
                                                                    <div class="ratings">
                                                                         <span class="tg-stars"><span style="width:0%"></span></span>
                                                                    </div>

                                                                    <!--product price-->
                                                                    <div class="price-box">

                                                                        <p class="old-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price">@Html.DisplayFor(modelItem => item.GiaBia) đ</span>
                                                                        </p>

                                                                        <p class="special-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price" content="75">@Html.DisplayFor(modelItem => item.GiaBan)đ</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.item -->
                                                        f++;
                                                    }
                                                }

                                            </div><!-- /.products-list -->
                                            <div class="products-list ">
                                                @{int p = 0;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    p++;
                                                    if (p > 3 && p <= 6)
                                                    {
                                                        var productName = "";
                                                        productName = item.Decription;
                                                        <div class="item  " style="  ">
                                                            <a href="#" class="product-image">
                                                                <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" data-original="~/images/product/110x110/clothing_sp16_2.jpg" alt="" height="110" width="110">
                                                                <img class="img-responsive em-alt-org em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" data-original="~/images/product/110x110/clothing_sp16_1.jpg" alt="" height="110" width="110">
                                                            </a>
                                                            <div class="product-shop">
                                                                <div class="f-fix">
                                                                    <!--product name-->
                                                                    <h3 class="product-name"><a style="color:#FF6148;font-weight:bold" href="@Url.Action("ProductDetail","Detail",new {id = item.ProductId })">@Html.DisplayFor(modelItem => item.ProductName)</a></h3>
                                                                    <!--product description-->
                                                                    

                                                                    <!--product reviews-->
                                                                    <div class="ratings">
                                                                         <span class="tg-stars"><span style="width:0%"></span></span>
                                                                    </div>
                                                                    <!--product price-->
                                                                    <div class="price-box">

                                                                        <p class="old-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price">@Html.DisplayFor(modelItem => item.GiaBia)</span>
                                                                        </p>

                                                                        <p class="special-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price" content="75">@Html.DisplayFor(modelItem => item.GiaBan)</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.item -->

                                                    }
                                                }

                                            </div><!-- /.products-list -->
                                        </div>
                                    </div><!-- /.widget -->
                                    <div class="" style="display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-weight:Bold">
                                        <a style="color:#EC6A54" href="#" class="">Xem Thêm</a>
                                    </div>
                                </div><!-- /.em-grid-15 -->
                            </div>
                        </div><!-- /.em-best-sales -->

                        <div class="em-wrapper-banners hidden-xs">
                            <div class="">
                                <a class="" href="#"> <img class="img-responsive" alt="em-sample-alt" src="~/images/wysiwyg/Mua-sam-an-toan-920x420.png" /> </a>
                            </div>
                        </div><!-- /.em-wrapper-banners -->

                        <div class="em-best-sales em-wrapper-product-15">
                            <div class="emfilter-ajaxblock-loaded">
                                <div class="em-grid-15 custom-product-list">
                                    <div class="widget-title em-widget-title">
                                        <h3><span>Sách kinh tế</span></h3>
                                    </div>

                                    <div class="widget em-filterproducts-list">
                                        <div class="widget-products em-widget-products">
                                            <div class="products-list ">
                                                @{int b = 0;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    
                                                    if ((b < 3) && item.CategoryId == 2)
                                                    {

                                                        var productName = "";
                                                        productName = item.Decription;
                                                        <div class="item  " style="  ">
                                                            <a href="#" class="product-image">
                                                                <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" alt="" height="110" width="110">
                                                                <img class="img-responsive em-alt-org em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" alt="" height="110" width="110">
                                                            </a>
                                                            <div class="product-shop">
                                                                <div class="f-fix">
                                                                    <!--product name-->

                                                                    <h3 class="product-name"><a style="color:#FF6148;font-weight:bold" href="@Url.Action("ProductDetail","Detail",new {id = item.ProductId })">@Html.DisplayFor(modelItem => item.ProductName)</a></h3>
                                                                    <!--product description-->
                                                                    

                                                                    <!--product reviews-->
                                                                    <div class="ratings">
                                                                        <span class="tg-stars"><span style="width:0%"></span></span>
                                                                    </div>

                                                                    <!--product price-->
                                                                    <div class="price-box">

                                                                        <p class="old-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price">@Html.DisplayFor(modelItem => item.GiaBia)</span>
                                                                        </p>

                                                                        <p class="special-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price" content="75">@Html.DisplayFor(modelItem => item.GiaBan)</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.item -->
                                                        b++;
                                                    }
                                                }

                                            </div><!-- /.products-list -->
                                            <div class="products-list ">
                                                @{int h = 0;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    h++;
                                                    if (h > 3 && h < 6 && item.CategoryId == 2)
                                                    {
                                                        var productName = "";
                                                        productName = item.Decription;
                                                        <div class="item  " style="  ">
                                                            <a href="#" class="product-image">
                                                                <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" data-original="~/images/product/110x110/clothing_sp16_2.jpg" alt="" height="110" width="110">
                                                                <img class="img-responsive em-alt-org em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" data-original="~/images/product/110x110/clothing_sp16_1.jpg" alt="" height="110" width="110">
                                                            </a>
                                                            <div class="product-shop">
                                                                <div class="f-fix">
                                                                    <!--product name-->
                                                                    <h3 class="product-name"><a style="color:#FF6148;font-weight:bold" href="@Url.Action("ProductDetail","Detail",new {id = item.ProductId })">@Html.DisplayFor(modelItem => item.ProductName)</a></h3>
                                                                    <!--product description-->
                                                                    

                                                                    <!--product reviews-->
                                                                    <div class="ratings">
                                                                         <span class="tg-stars"><span style="width:0%"></span></span>
                                                                    </div>
                                                                    <!--product price-->
                                                                    <div class="price-box">

                                                                        <p class="old-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price">@Html.DisplayFor(modelItem => item.GiaBia)</span>
                                                                        </p>

                                                                        <p class="special-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price" content="75">@Html.DisplayFor(modelItem => item.GiaBan)</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.item -->

                                                    }
                                                }

                                            </div><!-- /.products-list -->
                                        </div>
                                    </div><!-- /.widget -->
                                    <div class="" style="display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-weight:Bold">
                                        <a style="color:#EC6A54" href="#" class="">Xem Thêm</a>
                                    </div>
                                </div><!-- /.em-grid-15 -->
                            </div>
                        </div><!-- /.em-best-sales -->


                        <div class="em-best-sales em-wrapper-product-15">
                            <div class="emfilter-ajaxblock-loaded">
                                <div class="em-grid-15 custom-product-list">
                                    <div class="widget-title em-widget-title">
                                        <h3><span>sách đời sống - xã hội</span></h3>
                                    </div>

                                    <div class="widget em-filterproducts-list">
                                        <div class="widget-products em-widget-products">
                                            <div class="products-list ">
                                                @{int c = 0;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    if (c < 3 && item.CategoryId == 3)
                                                    {

                                                        var productName = "";
                                                        productName = item.Decription;
                                                        <div class="item  " style="  ">
                                                            <a href="#" class="product-image">
                                                                <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" alt="" height="110" width="110">
                                                                <img class="img-responsive em-alt-org em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" alt="" height="110" width="110">
                                                            </a>
                                                            <div class="product-shop">
                                                                <div class="f-fix">
                                                                    <!--product name-->

                                                                    <h3 class="product-name"><a style="color:#FF6148;font-weight:bold" href="@Url.Action("ProductDetail","Detail",new {id = item.ProductId })">@Html.DisplayFor(modelItem => item.ProductName)</a></h3>
                                                                    <!--product description-->
                                                                    @**@

                                                                    <!--product reviews-->
                                                                    <div class="ratings">
                                                                        <span class="tg-stars"><span style="width:0%"></span></span>
                                                                    </div>

                                                                    <!--product price-->
                                                                    <div class="price-box">

                                                                        <p class="old-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price">@Html.DisplayFor(modelItem => item.GiaBia)</span>
                                                                        </p>

                                                                        <p class="special-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price" content="75">@Html.DisplayFor(modelItem => item.GiaBan)</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.item -->
                                                        c++;
                                                    }
                                                }

                                            </div><!-- /.products-list -->
                                            <div class="products-list ">
                                                @{int l = 0;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    l++;
                                                    if (l > 3 && l <= 6 && item.CategoryId == 3)
                                                    {
                                                        var productName = "";
                                                        productName = item.Decription;
                                                        <div class="item  " style="  ">
                                                            <a href="#" class="product-image">
                                                                <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" data-original="~/images/product/110x110/clothing_sp16_2.jpg" alt="" height="110" width="110">
                                                                <img class="img-responsive em-alt-org em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" data-original="~/images/product/110x110/clothing_sp16_1.jpg" alt="" height="110" width="110">
                                                            </a>
                                                            <div class="product-shop">
                                                                <div class="f-fix">
                                                                    <!--product name-->
                                                                    <h3 class="product-name"><a style="color:#FF6148;font-weight:bold" href="@Url.Action("ProductDetail","Detail",new {id = item.ProductId })">@Html.DisplayFor(modelItem => item.ProductName)</a></h3>
                                                                    <!--product description-->
                                                                    @**@

                                                                    <!--product reviews-->
                                                                    <div class="ratings">
                                                                         <span class="tg-stars"><span style="width:0%"></span></span>
                                                                    </div>
                                                                    <!--product price-->
                                                                    <div class="price-box">

                                                                        <p class="old-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price">@Html.DisplayFor(modelItem => item.GiaBia)</span>
                                                                        </p>

                                                                        <p class="special-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price" content="75">@Html.DisplayFor(modelItem => item.GiaBan)</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.item -->

                                                    }
                                                }

                                            </div><!-- /.products-list -->
                                        </div>
                                    </div><!-- /.widget -->
                                    <div class="" style="display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-weight:Bold">
                                        <a style="color:#EC6A54" href="#" class="">Xem Thêm</a>
                                    </div>
                                </div><!-- /.em-grid-15 -->
                            </div>
                        </div><!-- /.em-best-sales -->


                        <div class="em-best-sales em-wrapper-product-15">
                            <div class="emfilter-ajaxblock-loaded">
                                <div class="em-grid-15 custom-product-list">
                                    <div class="widget-title em-widget-title">
                                        <h3><span>Sách cho trẻ</span></h3>
                                    </div>

                                    <div class="widget em-filterproducts-list">
                                        <div class="widget-products em-widget-products">
                                            <div class="products-list ">
                                                @{int d = 0;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    if (d < 3 && item.CategoryId == 4)
                                                    {

                                                        var productName = "";
                                                        productName = item.Decription;
                                                        <div class="item  " style="  ">
                                                            <a href="#" class="product-image">
                                                                <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" alt="" height="110" width="110">
                                                                <img class="img-responsive em-alt-org em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" alt="" height="110" width="110">
                                                            </a>
                                                            <div class="product-shop">
                                                                <div class="f-fix">
                                                                    <!--product name-->

                                                                    <h3 class="product-name"><a style="color:#FF6148;font-weight:bold" href="@Url.Action("ProductDetail","Detail",new {id = item.ProductId })">@Html.DisplayFor(modelItem => item.ProductName)</a></h3>
                                                                    <!--product description-->
                                                                    

                                                                    <!--product reviews-->
                                                                    <div class="ratings">
                                                                        <span class="tg-stars"><span style="width:0%"></span></span>
                                                                    </div>

                                                                    <!--product price-->
                                                                    <div class="price-box">

                                                                        <p class="old-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price">@Html.DisplayFor(modelItem => item.GiaBia)</span>
                                                                        </p>

                                                                        <p class="special-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price" content="75">@Html.DisplayFor(modelItem => item.GiaBan)</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.item -->
                                                        d++;
                                                    }
                                                }

                                            </div><!-- /.products-list -->
                                            <div class="products-list ">
                                                @{int o = 0;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    o++;
                                                    if (o > 3 && o <= 6 && item.CategoryId == 4)
                                                    {
                                                        var productName = "";
                                                        productName = item.Decription;
                                                        <div class="item  " style="  ">
                                                            <a href="#" class="product-image">
                                                                <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" data-original="~/images/product/110x110/clothing_sp16_2.jpg" alt="" height="110" width="110">
                                                                <img class="img-responsive em-alt-org em-lazy-loaded" src="~/images/product/110x110/@Html.DisplayFor(modelItem => item.ProductImg)" data-original="~/images/product/110x110/clothing_sp16_1.jpg" alt="" height="110" width="110">
                                                            </a>
                                                            <div class="product-shop">
                                                                <div class="f-fix">
                                                                    <!--product name-->
                                                                    <h3 class="product-name"><a style="color:#FF6148;font-weight:bold" href="@Url.Action("ProductDetail","Detail",new {id = item.ProductId })">@Html.DisplayFor(modelItem => item.ProductName)</a></h3>
                                                                    <!--product description-->
                                                                    

                                                                    <!--product reviews-->
                                                                    <div class="ratings">
                                                                         <span class="tg-stars"><span style="width:0%"></span></span>
                                                                    </div>
                                                                    <!--product price-->
                                                                    <div class="price-box">

                                                                        <p class="old-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price">@Html.DisplayFor(modelItem => item.GiaBia)</span>
                                                                        </p>

                                                                        <p class="special-price">
                                                                            <span class="price-label"></span>
                                                                            <span class="price" content="75">@Html.DisplayFor(modelItem => item.GiaBan)</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.item -->

                                                    }
                                                }

                                            </div><!-- /.products-list -->
                                        </div>
                                    </div><!-- /.widget -->
                                    <div class="" style="display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-weight:Bold">
                                        <a style="color:#EC6A54" href="#" class="">Xem Thêm</a>
                                    </div>
                                </div><!-- /.em-grid-15 -->
                            </div>
                        </div><!-- /.em-best-sales -->






                    </div><!-- /.em-col-main -->
                    <!-- Slidebar -->
                    <div class="col-sm-6 col-sm-pull-18 em-col-left em-sidebar">
                        <div class="em-wrapper-area02">
                            <div class="menu-wrapper hidden-xs">
                                <div id="menuleftText" class="all_categories">
                                    <div class="menuleftText-title">
                                        <div class="menuleftText">
                                            <span class="em-text-upercase">Danh Mục</span>
                                        </div>
                                    </div>

                                    <div class="menuleft">
                                        <div id="menu-default" class="mega-menu em-menu-icon">
                                            <div class="megamenu-wrapper wrapper-5_4607">
                                                <div class="em_nav" id="toogle_menu_5_4607">
                                                    <ul class="vnav em-menu-icon effect-menu em-menu-long">
                                                        <li class="menu-item-link menu-item-depth-0  hidden-sm ">
                                                            <a class="em-menu-link" href="@Url.Action("AllProduct","Products")"> <span>Tất cả sản phẩm</span> </a>
                                                        </li><!-- /.menu-item-link -->
                                                        <li class="menu-item-link menu-item-depth-0 em-more-menu  hidden-sm ">
                                                            <a href="@Url.Action("AllProduct","Products",new { type = 7 })" class="em-menu-link" > <span>Sách Mới Phát Hành </span> </a>
                                                        </li><!-- /.menu-item-link -->
                                                        <li class="menu-item-link menu-item-depth-0  ">
                                                            <a href="@Url.Action("AllProduct","Products",new { type = 1 })" class="em-menu-link" > <span>Sách văn học</span> </a>

                                                        </li><!-- /.menu-item-link -->
                                                        <li class="menu-item-link menu-item-depth-0  ">
                                                            <a href="@Url.Action("AllProduct","Products",new { type = 2 })" class="em-menu-link" > <span>Sách kinh tế</span> </a>

                                                        </li><!-- /.menu-item-link -->
                                                        <li class="menu-item-link menu-item-depth-0  ">
                                                            <a href="@Url.Action("AllProduct","Products",new { type = 3 })"  class="em-menu-link"> <span>Sách đời sống</span> </a>

                                                        </li><!-- /.menu-item-link -->
                                                        <li class="menu-item-link menu-item-depth-0  ">
                                                            <a href="@Url.Action("AllProduct","Products",new { type = 4 })" class="em-menu-link"> <span>Sách thiếu nhi</span> </a>

                                                        </li><!-- /.menu-item-link -->
                                                        <li class="menu-item-link menu-item-depth-0  ">
                                                            <a href="@Url.Action("AllProduct","Products",new { type = 5 })" class="em-menu-link"> <span>Sách tin học - ngoại ngữ</span> </a>

                                                        </li><!-- /.menu-item-link -->
                                                        <li class="menu-item-link menu-item-depth-0  ">
                                                            <a href="@Url.Action("AllProduct","Products",new { type = 6 })" class="em-menu-link"> <span>Tạp chí văn phòng phẩm</span> </a>

                                                        </li><!-- /.menu-item-link -->

                                                    </ul><!-- /.vnav -->
                                                </div>
                                            </div><!-- /.megamenu-wrapper -->
                                        </div>
                                    </div><!-- /.menuleft -->

                                </div><!-- /.menuleftText -->


                            </div>
                        </div><!-- /.em-wrapper-area02 -->
                        <div class="em-wrapper-banners hidden-xs">
                            <div class="">
                                <a class="" href="#">
                                    <img class="img-responsive retina-img" alt="em_ads_01.jpg" src="~/images/wysiwyg/cdtg-BannerChinh_920x420.png" />
                                </a>
                            </div>
                        </div><!--  /.em-wrapper-banners -->
                        <div class="row">
                            <div class="col-sm-24">
                                <div class="em-wrapper-ads-15">
                                    <div class="em-slider em-slider-category" data-emslider-pagination="true" data-emslider-items="1">

                                    </div><!-- /.em-slider -->
                                </div>
                            </div>
                        </div><!-- /.row -->
                        <div class="row">
                            <div class="col-sm-24">
                                <div class="em-wrapper-ads-10 em-line-01">
                                    <div class="em-block-title">
                                        <h2><span>Tác Giả Nổi Bật</span></h2>
                                    </div>
                                    <div class="em-blog-style01">
                                        <div class="em-from-our-blog">
                                            <div class="em-blog-item em-effect-13">
                                                <div class="em-blog-content bkg-top">
                                                    <a class="img-banner-small" href="#"> <img alt="em_blog" class="img-responsive" src="~/images/wysiwyg/nguyen-nhat-anh.jpg" /> </a>

                                                    <div class="hov">&nbsp;</div>
                                                </div>
                                                <div class="em-box bkg-bottom">
                                                    <h4 class="em-blog-title"><a href="#">Nguyễn Nhật Ánh</a></h4>
                                                    <p class="em-blog-des"></p>
                                                    <p>
                                                        <a class="link-more" href="#">Read more</a>
                                                    </p>
                                                </div>
                                            </div><!-- /.em-blog-item -->

                                        </div>
                                    </div><!-- /.em-blog-style01 -->
                                </div>
                                <div class="em-wrapper-ads-10 em-line-01">
                                    <div class="em-block-title">
                                        <h2><span>Tác Phẩm Nổi Bật</span></h2>
                                    </div>
                                    <div class="em-blog-style01">
                                        <div class="em-from-our-blog">
                                            <div class="em-blog-item em-effect-13">
                                                <div class="em-blog-content bkg-top">
                                                    <a class="img-banner-small" href="#"> <img alt="em_blog" class="img-responsive" src="~/images/product/350x350/ba_co_tien.jpg" /> </a>

                                                    <div class="hov">&nbsp;</div>
                                                </div>
                                                <div class="em-box bkg-bottom">
                                                    <h4 class="em-blog-title"><a href="#">3 cô tiên</a></h4>
                                                    <p class="em-blog-des"></p>
                                                    <p>
                                                        <a class="link-more" href="#">Read more</a>
                                                    </p>
                                                </div>
                                            </div><!-- /.em-blog-item -->

                                        </div>
                                    </div><!-- /.em-blog-style01 -->
                                </div>
                            </div>
                        </div><!-- /.row -->

                    </div><!-- /.em-sidebar -->
                </div>
            </div><!-- /.em-main-container -->
            <!-- /Footer -------------------- -->
            <div class="em-wrapper-area04">

            </div><!-- /.em-wrapper-area04 -->


            <div class="em-wrapper-area06">
                <div class="em-wrapper-brands">
                    <div class=" slider-style02">
                        <div class="em-slider em-slider-banners em-slider-navigation-icon" data-emslider-navigation="true" data-emslider-items="6" data-emslider-desktop="5" data-emslider-desktop-small="4" data-emslider-tablet="3" data-emslider-mobile="2">

                        </div>
                    </div><!-- /.slider-style02 -->
                </div>
            </div><!-- /.em-wrapper-area06 -->

        </div><!-- /.em-inner-main -->
    </div><!-- /.container -->
</div><!-- /.em-wrapper-main -->
<div class="popup-content" id="em-popup" style="display: none;">
    <div class="popup-subscribe">
        <div class="em-wrapper-newsletter">
            <div class="em-block-title">

            </div>
            <div class="em-newsletter-style05">
                <div class="block block-subscribe">
                    <div style="width:500px;height:200px"></div>
                </div>
            </div><!-- /.em-newsletter-style05 -->
        </div>
    </div>
    <div class="popup-content-block"></div>
</div><!-- /.popup-content -->